<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
	<nav  class="nav">
		
		<a  aria-label="First Five"  md-button="" routerlink="/" href="/" aria-disabled="false" tabindex="0"
		class="navbar-brand">
		    <span>	
		    	First Five
			</span>
		</a>
		<a  md-button="" aria-disabled="false" tabindex="0" class="nav-tem">
		  	<span >SignUp</span>
		</a>

		<a  md-button="" aria-disabled="false" tabindex="0" class="nav-tem">
		  	<span >SignIn</span>
		</a>
		<a  md-button="" aria-disabled="false" tabindex="0" class="nav-tem">
		  	<span >Home</span>
		</a>
	</nav>

<div class="banner">

 		<h1><span ><i class="material-icons">child_care</i></span>
 		First Five</h1>
 		<p> Looking Out For Your Child's Education</p>
</div>
<hr />

<md-tab-group>
  <md-tab label="Schools">
    <h2>Schools coming soon</h2>
    <p>...</p>
  </md-tab>
  <md-tab label="Books">
    <h2>Books coming soon</h2>
    <p>...</p>
  </md-tab>
  <md-tab label="Parenting">
    <h2>Parenting coming soon</h2>
    <p>...</p>
  </md-tab>
  <md-tab label="Activities">
    <h2>Activities coming soon</h2>
    <p>...</p>
  </md-tab>
</md-tab-group> 	
 
 <div class="app-content">

   <!-- <md-card>
      <button md-button>FLAT</button>
      <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
      <button md-raised-button color="primary">PRIMARY RAISED</button>
      <button md-raised-button color="accent">ACCENT RAISED</button>
    </md-card>

    <md-card>
      <md-checkbox>Unchecked</md-checkbox>
      <md-checkbox [checked]="true">Checked</md-checkbox>
      <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
      <md-checkbox [disabled]="true">Disabled</md-checkbox>
    </md-card>-->

    </div>

