<md-toolbar color="primary">

	<nav  class="navbar navbar-light">
		
		<a  aria-label="First Five"  md-button="" routerlink="/" href="/" aria-disabled="false" tabindex="0">
		    <span >
		    	<i class="material-icons">child_care</i>
		    	FIRST FIVE
			</span>
		</a>

		<a  md-button="" aria-disabled="false" tabindex="0">
		  	<span >Home</span>
		</a>

		<a  md-button="" aria-disabled="false" tabindex="0">
		  	<span >SignUp</span>
		</a>

		<a  md-button="" aria-disabled="false" tabindex="0">
		  	<span >SignIn</span>
		</a>

	</nav>

</md-toolbar>

 <div class="app-content">

    <md-card>
      <button md-button>FLAT</button>
      <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
      <button md-raised-button color="primary">PRIMARY RAISED</button>
      <button md-raised-button color="accent">ACCENT RAISED</button>
    </md-card>

    <md-card>
      <md-checkbox>Unchecked</md-checkbox>
      <md-checkbox [checked]="true">Checked</md-checkbox>
      <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
      <md-checkbox [disabled]="true">Disabled</md-checkbox>
    </md-card>

    </div>
