 <!--1 Coulm horizontal listing-->
        <div class="card-panel horizontal-listing no-padding">
            <div class="container-fluid">

                <!--First row-->
                <a>
                    <div class="row hoverable">
                        <div class="col-sm-4">
                            <img src="https://mdbootstrap.com/images/reg/reg%20(54).jpg" class="img-responsive z-depth-2">
                        </div>
                        <div class="col-sm-8">
                            <h5 class="title">Lorem ipsum</h5>
                            <ul class="list-inline item-details">
                                <li><i class="fa fa-clock-o"> 05/10/2015 | </i></li>
                                <li><a><i class="fa fa-comments-o"></i> 12</a></li>
                                <li><a><i class="fa fa-facebook"> </i> 21</a></li>
                                <li><a><i class="fa fa-twitter"> </i> 5</a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores illum impedit dolor possimus architecto labore.</p>
                        </div>
                    </div>
                </a>
                <!--/.First row-->

                <!--Second row-->
                <a>
                    <div class="row hoverable">
                        <div class="col-sm-4">
                            <img src="https://mdbootstrap.com/images/reg/reg%20(55).jpg" class="img-responsive z-depth-2">
                        </div>
                        <div class="col-sm-8">
                            <h5 class="title">Lorem ipsum</h5>
                            <ul class="list-inline item-details">
                                <li><i class="fa fa-clock-o"> 05/10/2015 | </i></li>
                                <li><a><i class="fa fa-comments-o"></i> 12</a></li>
                                <li><a><i class="fa fa-facebook"> </i> 21</a></li>
                                <li><a><i class="fa fa-twitter"> </i> 5</a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores illum impedit dolor possimus architecto labore.</p>
                        </div>
                    </div>
                </a>
                <!--/.Second row-->

                <!--Third row-->
                <a>
                    <div class="row hoverable">
                        <div class="col-sm-4">
                            <img src="https://mdbootstrap.com/images/reg/reg%20(56).jpg" class="img-responsive z-depth-2">
                        </div>
                        <div class="col-sm-8">
                            <h5 class="title">Lorem ipsum</h5>
                            <ul class="list-inline item-details">
                                <li><i class="fa fa-clock-o"> 05/10/2015 | </i></li>
                                <li><a><i class="fa fa-comments-o"></i> 12</a></li>
                                <li><a><i class="fa fa-facebook"> </i> 21</a></li>
                                <li><a><i class="fa fa-twitter"> </i> 5</a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores illum impedit dolor possimus architecto labore.</p>
                        </div>
                    </div>
                </a>
                <!--/.Third row-->

            </div>
        </div>
        <!--/.1 Column horizontal listing-->

