 <!--1 Coulm horizontal listing-->
 <div class="divider"></div>
<div class="card-panel horizontal-listing">
    <div class="container-fluid">
        <div class="container" *ngIf="schools.length === 0">
            <p class="empty-list-text">Centers can not currently be retrieved. This issue will be resolved as soon as possible. We apologize for the inconvenience. </p>
        </div>

        <div class="card container" *ngFor="let school of schools">
        
        <!--Card image-->
        <div class="flex-item">
            <img src="https://mdbootstrap.com/images/regular/city/img%20({{imageNumber}}).jpg" 
            class="img-fluid" alt="">
            <!--{{Math.floor((Math.random() * 20) + 1)}}-->
            <!--<img src="https://mdbootstrap.com/images/regular/city/img%20(2).jpg" class="img-fluid" alt="">-->
            <a href="#">
                <div class="mask waves-effect waves-light"></div>
            </a>
            
        </div>
        
        <div class="card-block flex-item">
           
            <h4 class="card-title">{{school.title}}</h4>
            
            <p class="card-text">{{school.summary}}</p>

            <div class="controls">
                <button  class="claim-button button-color" (click)="getSchoolDetails(school.id)" >Read more</button>
                <rating [(ngModel)]="school.averageRating" [readonly]="true"
                        [titles]="['one', 'two', 'three', 'four', 'five']">
                </rating>

                <span class="reviews-text">{{school.ratingAndReviewsList.length}} {{school.ratingAndReviewsList.length !== 1 ? 'reviews' : 'review' }}</span>
            
            </div>
            
        </div>
        

        </div>
       

    </div>
</div>
