<hr />

<div class="app-content">

	<div class="component-details">

      	<div class="details-header">
      		<div class="details-header-title">
      			{{school.title}}
      		</div>
      		<div>
      			<button class="button-color" (click)="updateWishList()">{{buttonText}}</button>
      		</div>
      	</div>

	  	<img class="component-image" src="https://mdbootstrap.com/images/proffesions/slides/socialmedia/img%20(2).jpg"><!--{{school.schoolImage}}-->
		 <md-card-content>
		
		    <p>
		    	{{school.summary}}
		    </p>
		    <p><strong>Teacher Student Ratio : </strong>{{school.teacherToStudentRatio}}</p>
		    <p><strong>Age Range : </strong>{{school.ageRange}}</p>
		    <p><strong>Price Range : </strong>{{school.priceRange}}</p>
		    <p><strong>Daily Schedule : </strong>{{school.schedule}}</p>
		    <p><strong>Address : </strong>{{school.address}}</p>
		    <p><strong>Phone : </strong>{{school.phone}}</p>
		    <p><strong>Our Website : </strong><a href="{{school.website}}">{{school.website}}</a></p>
  		</md-card-content>
  		<md-card-actions>
	  		<div class="actions-wrapper">
	    		
    			<rating [(ngModel)]="school.averageRating"
            		[titles]="['one', 'two', 'three', 'four', 'five']">
    			</rating>
    			<span class="reviews-text"> 100 reviews</span>
    			<button md-raised-button  routerLink="write-review"  class="review-button button-color" >Write a Review</button>
    			<!--<button md-raised-button  routerLink="/my-account"  class="review-button button-color" *ngIf="!loggedIn">Login to write a Review</button>-->
			</div>
    		
  		</md-card-actions>
   	</div>
   
    <md-card *ngFor="let review of reviewsList">
      	<md-card-header>
	    	<md-card-title></md-card-title>
	    	<md-card-subtitle></md-card-subtitle>
	  	</md-card-header>
	  	
		 <md-card-content>
		    <p>User</p>
		    <p>
		    	Review: {{review.message}}
		    </p>
		    
  		</md-card-content>
  		<md-card-actions>
	  		<div>
    			<rating [(ngModel)]="school.averageRating"
            		[titles]="['one', 'two', 'three', 'four', 'five']">
    			</rating>
    			{{review.date | date:'fullDate'}}
			</div>
  		</md-card-actions>
   	</md-card>
</div>
