<hr />

<div class="app-content">

	<div class="component-details">

      	<div class="details-header">
      		<div class="details-header-title">
      			{{school.title}}
      		</div>
      		<div>
      			<button class="button-color" (click)="updateWishList()">{{buttonText}}</button>
      		</div>
      	</div>

	  	<img class="component-image" src="https://mdbootstrap.com/images/proffesions/slides/socialmedia/img%20(2).jpg"><!--{{school.schoolImage}}-->
		 <div>
		
		    <p>
		    	{{school.summary}}
		    </p>
		    <p><strong>Teacher Student Ratio : </strong>{{school.teacherToStudentRatio}}</p>
		    <p><strong>Age Range : </strong>{{school.ageRange}}</p>
		    <p><strong>Price Range : </strong>{{school.priceRange}}</p>
		    <p><strong>Daily Schedule : </strong>{{school.schedule}}</p>
		    <p><strong>Address : </strong>{{school.address}}</p>
		    <p><strong>Phone : </strong>{{school.phone}}</p>
		    <p><strong>Our Website : </strong><a href="{{school.website}}">{{school.website}}</a></p>
  		</div>
  		
  		<div class="actions-wrapper">
    		
			<rating [(ngModel)]="school.averageRating" [readonly]="true"
        		[titles]="['one', 'two', 'three', 'four', 'five']">
			</rating>
			<span class="reviews-text"> 100 reviews</span>
			<button   routerLink="write-review"  class="review-button button-color" >Write a Review</button>
			<!--<button  routerLink="/my-account"  class="review-button button-color" *ngIf="!loggedIn">Login to write a Review</button>-->
		</div>
    		
  		
   	</div>
   
    <div class="component-details" *ngFor="let review of reviewsList">
      	<div class="details-header">
	    	<div class="details-header-title"></div>
	  	</div>
	  	
		 <div>
		    <p>User</p>
		    <p>
		    	Review: {{review.message}}
		    </p>
		    
  		</div>
  		
  		<div class="actions-wrapper">
			<rating [(ngModel)]="review.rating"
        		[titles]="['one', 'two', 'three', 'four', 'five']">
			</rating>
			{{review.date | date:'fullDate'}}
		</div>
		
   	</div>
</div>
