.app-content {
  padding: 16px;
}

.app-content h4{
  padding-top: 16px;
}

.app-content md-card {
  margin: 20px;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
}

.app-content md-checkbox {
  margin: 10px;
}