<hr />
<div class="app-content">

<md-card>
      	<md-card-header>
	    	<md-card-title>{{school.title}}</md-card-title>
	    	<md-card-subtitle>{{school.subTitle}}</md-card-subtitle>
	  	</md-card-header>
	  	<img md-card-image src="assets/image/wood.png"><!--{{school.schoolImage}}-->
		 <md-card-content>
		    
		    <p>
		    	{{school.summary}}
		    </p>
		    <p><strong>Address : </strong>{{school.address}}</p>
		    <p><strong>Phone : </strong>{{school.phone}}</p>
  		</md-card-content>
  		<md-card-actions>
	  		<div>
	    		<button md-button color="primary">LIKE</button>
	    		<button md-button color="primary" [mdMenuTriggerFor]="menu">SHARE</button>
	    		
    			<rating [(ngModel)]="school.averageRating"
            		[titles]="['one', 'two', 'three', 'four', 'five']">
    			</rating>
    			<span class="reviews-text">1000 reviews</span>
    			<button md-raised-button color="primary" routerLink="/write-review" class="review-button">Write a Review</button>
			</div>

			<md-menu #menu="mdMenu">
				<button md-menu-item>
				    <span>Facebook</span>
				  </button>
				  <button md-menu-item>
				    <span>Google+</span>
				  </button>
				  <button md-menu-item>
				    <span>Twitter</span>
				  </button>
			</md-menu>
    		
  		</md-card-actions>
    </md-card>
</div>
