 <!--1 Coulm horizontal listing-->
 <div class="divider"></div>
<div class="card-panel horizontal-listing">
    <div class="container-fluid">
        <div class="card product-card ovf-hidden container" *ngFor="let school of schools">
        
        <!--Card image-->
        <div class="overlay hm-white-slight flex-item">
            <img src="https://mdbootstrap.com/images/regular/city/img%20({{imageNumber}}).jpg" 
            class="img-fluid" alt="">
            <!--{{Math.floor((Math.random() * 20) + 1)}}-->
            <!--<img src="https://mdbootstrap.com/images/regular/city/img%20(2).jpg" class="img-fluid" alt="">-->
            <a href="#">
                <div class="mask waves-effect waves-light"></div>
            </a>
            
        </div>
        <!--/.Card image-->

        <!--Card content-->
        <div class="card-block flex-item">
            <!--Title-->
            <h4 class="card-title">{{school.title}}</h4>
            <!--Text-->
            <p class="card-text">{{school.summary}}</p>
            <button class="button-color" (click)="getSchoolDetails(school.id)" >Read more</button>
            <rating [(ngModel)]="starsCount" 
                    [titles]="['one', 'two', 'three', 'four', 'five']">
            </rating>

            <span class="reviews-text">1000 reviews</span>
            
        </div>
        <!--/.Card content-->

        </div>
        <!--/.Card-->

    </div>
</div>

