<div class="banner">

 		<h1><span ><i class="material-icons">child_care</i></span>
 		Nursery Express</h1>
 		<p> Looking Out For Your Child's Education</p>
</div>
<hr />

<md-tab-group>
  <md-tab label="Schools">
   	
 
  </md-tab>
  <md-tab label="Books">
    <h2>Books coming soon</h2>
    <p>...</p>
  </md-tab>
  <md-tab label="Parenting">
    <h2>Parenting coming soon</h2>
    <p>...</p>
  </md-tab>
  <md-tab label="Activities">
    <h2>Activities coming soon</h2>
    <p>...</p>
  </md-tab>
</md-tab-group> 	
 
 <div class="app-content">

<md-card>
      <button md-button>
        MENU
      </button>
    </md-card>
 </div>


	

    

