<div class="banner">

 		<h1><span ><i class="material-icons">child_care</i></span>
 		Nursery Express</h1>
 		<p> Looking Out For Your Child's Education</p>
</div>
<hr />

<md-tab-group>
  <md-tab label="Schools">
   	
 
  </md-tab>
  
</md-tab-group> 	
 
 <div class="app-content">

	<md-card  >
      	<md-card-header>
	    	<md-card-title>The Harker School - Preschool</md-card-title>
	    	<md-card-subtitle>The bay's best</md-card-subtitle>
	  	</md-card-header>
	  	<img md-card-image src="assets/image/wood.png">
		 <md-card-content>
		    <p>
		      At Harker’s preschool, our early learning program for 3-, 4- and young 5-year-olds emphasizes hands-on learning, intentional play and developmentally appropriate classroom activities.
		    </p>
		    <p>
		    	Beginnings matter. At Harker, we understand the importance of giving your child the best possible foundation for an outstanding academic career. That starts with choosing the right preschool to excite, nurture and challenge children so they are not only ready for the next step but excited to get there.
		    </p>
		    <p><strong>Address : </strong> 4525 Union Ave, San Jose, CA 95124</p>
		    <p><strong>Phone : </strong> (408) 553-5700</p>
  		</md-card-content>
  		<md-card-actions>
	  		<div>
	    		<button md-button>LIKE</button>
	    		<button md-button>SHARE</button>
	    		
	    			<rating [(ngModel)]="starsCount"
	            		[titles]="['one', 'two', 'three', 'four', 'five']">
	    			</rating>
	    			<span class="reviews-text">1000 reviews</span>
			</div>
    		
  		</md-card-actions>
    </md-card>

    <md-card  >
      	<md-card-header>
	    	<md-card-title>Challenger - Preschool</md-card-title>
	    	<md-card-subtitle>The best education for your child</md-card-subtitle>
	  	</md-card-header>
	  	<img md-card-image src="assets/image/wood.png">
		 <md-card-content>
		    <p>
		      Challenger is the best preschool for your child in the SF bay area.
		      Our dedication to quality education is matched by none.
		    </p>
		    <p><strong>Address : </strong> 4525 Union Ave, San Jose, CA 95124</p>
		    <p><strong>Phone : </strong> (408) 553-5700</p>
  		</md-card-content>
  		<md-card-actions>
    		<button md-button>LIKE</button>
    		<button md-button>SHARE</button>
    		<rating [(ngModel)]="starsCount"
            	[titles]="['one', 'two', 'three', 'four', 'five']">
    		</rating>
  		</md-card-actions>
    </md-card>
 </div>


	

    

