.school-search {
  background: #fff !important;
  border-radius: 16px !important;
  text-align: center;

  border: none;
  /*color: transparent; */
  display: inline-block;
  font-size: 1.2em;
  text-shadow: 0 0 0 gray;
  /* width: 2em; */
  
  /*&:focus {
      outline: none;
  }*/
}

/*input[name="search"] {
  border: 2px solid lawngreen;
  border-radius: 10px;
  font-size: 18px;
  padding: 5px;
  height: 35px;
  width: 350px;
}*/
.search-container {
  display: flex;
  flex-direction: column;
}

.search-container input {
  flex : 1;
}

.bd-search-results {
    flex : 1;
    position: relative;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    font-size: .9rem;
    vertical-align: middle;
}
.form-control {
  margin-bottom: 0;
  height: 2rem;
}
.dropdown-item {
    display: inline-block;
}

.h2-responsive {
	font-size: 1.125rem;
    line-height: 2rem;
    color: #2e3d49;
    margin-bottom: 0;
    font-weight: 300;
}

a.primary-color {
	color: #fff;

	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transform: translate3d(0,0,0); 
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    text-decoration: none;
}

.claim-button {
	font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    transition: all .2s ease-in-out;
}

.featured-image {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.top-rated {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	-webkit-flex-direction : row;
	align-items: center;
	margin-top: 45px;
	margin-bottom: 45px;
}

.top-rated:before {
	content: '';
	height: 1.5px;
	-webkit-box-flex: 1;
	flex: 1;
	background: #666;
	margin: 0 .45em 0 0;
}

.top-rated:after {
	content: '';
	height: 1.5px;
	-webkit-box-flex: 1;
	flex: 1;
	background: #666;
	margin: 0 0 0 .45em;
}

.top-rated-schools {
	display: flex;
	margin-bottom: 20px;
}

.top-rated-schools .col-md-4 {
	flex: 1;
}

.top-schools-summary {
  overflow: hidden;
  height: 150px;
}
.top-schools-titles {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.social-share {
	display: block;
    background-color: #4285F4;
    height: 37px;
    width: 37px;
   
    border-radius: 50%;
    transition: .3s;
    margin: 10px;

    margin-top: 1px;

    text-align: center !important;
    line-height: 37px;

    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

a.social-share {
	color: #fff;
}

.empty-list-text {
    margin: 0;
    padding: 0;
}

.card-block {
  padding-top: 0.5rem;
}

rating {
  padding-left: 18px;
  font-size: 1.2em;
}

@media screen and (max-width: 600px){
  .empty-list-text {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
}
