
<div class="container">
    <div class="panel-group">
        <div class="panel panel-default panel-faq">
			<div class="panel-body">
				<div class="form-tab-body-wrapper">
					<div class="form-header">
						<button (click)="onSelectTab('login')" 
						[ngClass]="{'form-selected-tab' : selectedTab === 'login'}" >Login</button>

						<button (click)="onSelectTab('new-account')" 
						[ngClass]="{'form-selected-tab' : selectedTab === 'new-account'}">New Account</button>

						<button (click)="onSelectTab('forgot-password')" 
						[ngClass]="{'form-selected-tab' : selectedTab === 'forgot-password'}">Forgot Password</button>

					</div>

					<div class="form-tab-body" *ngIf="selectedTab === 'login'" >
						
						<div  *ngIf="loginError" class="input-error">
							Incorrect username or password.
						</div>

						<form (ngSubmit)="onLogin()">
							<div class="form-group">
								<label for ="username">Username *</label>
								<input type="text" class="form-control" id="username" name="username" 
								[(ngModel)]="credential.username" required="required" autofocus="autofocus">
								
							</div>
							<div class="form-group">
								<label for ="password">Password *</label>
								<input type="password" class="form-control" id="password" name="password" 
								[(ngModel)]="credential.password" required="required" autofocus="autofocus">
							</div>

							<button  type="submit" class="button-color">Log In</button>
						</form>
						
					</div>


					<div class="form-tab-body" *ngIf="selectedTab === 'new-account'" >
						
						<div class="alert alert-info" *ngIf="emailSent">An email has been sent to the email address you just registered. Please validate your email address and update your password info.
						</div>
						<form (ngSubmit)="onNewAccount()">
							<div class="form-group">
								<label for="newUsername">New Username *</label>
								&nbsp;
								<span *ngIf="usernameExists" class="input-error">Username already exists. Choose a different one.</span>

								<input type="text" class="form-control" id="newUsername" name="username" 
								[(ngModel)]="username" required="required" >
								
							</div>
							<div class="form-group">
								<label for="email">Email Address *</label>
									&nbsp;<span *ngIf="emailExists" class="input-error">Email already exists. Choose a different one.</span>

								<input type="email" class="form-control" id="email" name="email"
								[(ngModel)]="email" required="required" >
								
							</div>
							<button type="submit" class="button-color">Create new account</button>
						</form>
						
					</div>


					<div class="form-tab-body" *ngIf="selectedTab === 'forgot-password'" >
					
						<div class="alert alert-warning" *ngIf="emailNotExists">Email doesn't exists.</div>
						<div class="alert alert-success" *ngIf="forgotPasswordEmailSent">Email sent.</div>
						<form (ngSubmit)="onForgotPassword()">
							<div class="form-group">
								<label for="recoverEmail">Your Email Address *</label>
								<input type="email" class="form-control" id="recoverEmail" name="recoverEmail" 
								[(ngModel)]="recoverEmail"  required="required" >
								
							</div>
							<button type="submit" class="button-color">Submit</button>
						</form>
						
					</div>

				</div>
			</div>
		</div>
     </div>
</div>                
  
