<!--Footer-->
<footer>
    <div class="content site-padding">
    

        <div class="logo extra-padding footer-bottom" >
            <div class="logo">
                <div class="logo-container">
                    <svg width="1.5rem" >
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tipe"></use>
                    </svg>
                </div>

                <div class="logo-text">
                    <h2 class="text" style="color: black;">Eyas Eyes</h2>
                    <!--<p>At Eyas we present you with an opportunity to register your center so that you can find out how you are doing and how you can improve by allowing your existing clients  to provide you with highly valuable feedback and free advertisement!</p>-->
                </div>
            </div>

            <!--<div class="footer-social-icons">
                <h4 >Follow us on</h4><div class="social-icons">

                    <a href="https://twitter.com/eyaseyes/" target="_blank" class="social-icon">
                        <svg class="btn-twitter icon twitter">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="https://www.facebook.com/EyasEyes/" target="_blank" class="social-icon">
                        <svg class="btn-facebook icon facebook-square">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook-square"></use>
                        </svg>
                    </a>
                    
                </div>
            </div>-->
        </div>

        <div class="container copy extra-padding">
            <small class="text" style="color:undefined">Copyright © EyasEyes Inc 2017-2018. All rights reserved</small>
            <div class="links">
                <a href="/" class="link">
                    <p class="text" style="color:undefined">About us</p>
                </a> |
                <a href="/" class="link">
                    <p class="text" style="color:undefined">Privacy</p>
                </a> |
                <a href="/" class="link">
                    <p class="text" style="color:undefined">Terms
                    </p>
                </a>
            </div>
        </div>

    </div>

</footer>
