<div class="container">
	<div class="reg-form-input-group top-margin">
	    <div class="col-xs-9 col-md-offset-1">
	        <div class="panel-group">
	            <div class="panel panel-default" >
	                <div class="panel-body" >
						<div class="form-tab-body-wrapper">
							<div class="form-tab-body">
								<div [hidden]="centerAdded">
									<div class="form-group">
										<h3>New Center Information</h3>
										<!--<span class="required-fields-text">* is a required field</span>-->
									</div>

									<form (ngSubmit)="onSubmit()" name="new-center-form">
										<div class="form-group">
											<input id="name"  class="form-control" [(ngModel)]="newCenter.name" 
											name="name" placeholder="Center name" required>
										</div>
										
										<div class="form-group">
											<label for="centerType">Select center type:</label>
											<select id="centerType" class="form-control" 
											[(ngModel)]="newCenter.type" name="centerType">
												<option [ngValue]="Preschool">Preschool</option>
												<option [ngValue]="Enrichment-Class">Enrichment Class</option>
												<option [ngValue]="Kids-Activities">Kids' Activities</option>
												<option [ngValue]="Play-Center">Play Center</option>
											</select>
										</div>

										<div class="form-group" *ngIf="newCenter.type === 'Preschool'">
											<label for="category">Select category/philosphy:</label>
											<select id="category" class="form-control" 
											[(ngModel)]="newCenter.category" name="category">
												<option [ngValue]="Academic-Based">Academic Based</option>
												<option [ngValue]="Montessori">Montessori</option>
												<option [ngValue]="Play-Based">Play Based</option>
												<option [ngValue]="Reggio-Emilia">Reggio Emilia</option>
												<option [ngValue]="Waldorf">Waldorf</option>
												<option [ngValue]="Other">Other</option>
											</select>
										</div>

										<div class="form-group">
											<input id="ratio" class="form-control" required [(ngModel)]="newCenter.teacherToStudentRatio" name="ratio" placeholder="Teacher Student Ratio">	
										</div>

										<div class="form-group">
											<input id="ageRange" class="form-control" required [(ngModel)]="newCenter.ageRange" name="ageRange" placeholder="Age Range">	
										</div>

										<div class="form-group">
											<input id="priceRange" class="form-control" required [(ngModel)]="newCenter.priceRange" name="priceRange" placeholder="Price Range">	
										</div>

										<div class="form-group">
											<input id="schedule" class="form-control" required [(ngModel)]="newCenter.schedule" name="schedule" placeholder="Schedule">	
										</div>

										<div class="form-group">
											<input id="address" class="form-control" required [(ngModel)]="newCenter.address" name="address" placeholder="Address">	
										</div>

										<div class="form-group">
											<input id="phone" type="phone" [(ngModel)]="newCenter.phone" name="phone" class="form-control"
											 placeholder="Phone Number">
										</div>

										<div class="form-group">
											<input id="website"  [(ngModel)]="newCenter.website" name="website" class="form-control"
											 placeholder="Website">
										</div>

										<div class="form-group">
											<textarea id="summary" class="form-control" [(ngModel)]="newCenter.summary" name="summary" placeholder="Summary" required></textarea>
										</div>

										<div class="form-group">
											<label for="centerImage">Image</label>
											<input type="file" id="centerImage" name="centerImage" class="form-control-file" 
											(change)="uploadImageService.fileChangeEvent($event)">
										</div>

										
										<div class="form-buttons">
											<div class="form-group">
												<button type="submit" class="button-color" >Add Center</button>
											</div>
											
											<div class="form-group">
												<button type="submit" class="button-color cancel-button"  routerLink="/">Cancel</button>
											</div>
										</div>	
										
									</form>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>