<hr />

<div class="app-content">

	<div class="component-details">

      	<div class="details-header">
      		<div class="details-header-title">
      			{{center.name}}
      		</div>
      		<div>
      			<button class="button-color" (click)="updateWishList()">{{buttonText}}</button>
      		</div>
      	</div>

	  	<img class="component-image" src="https://mdbootstrap.com/images/proffesions/slides/socialmedia/img%20(2).jpg"><!--{{center.centerImage}}-->
		 <div>
		
		    <p>
		    	{{center.summary}}
		    </p>
		    <p><strong>Type : </strong>{{center.type}}</p>
		    <p *ngIf="center.type === 'Precenter'"><strong>Category/Philosophy : </strong>{{center.category}}</p>
		    <p><strong>Teacher Student Ratio : </strong>{{center.teacherToStudentRatio}}</p>
		    <p><strong>Age Range : </strong>{{center.ageRange}}</p>
		    <p><strong>Price Range : </strong>{{center.priceRange}}</p>
		    <p><strong>Daily Schedule : </strong>{{center.schedule}}</p>
		    <p><strong>Address : </strong>{{center.address}}</p>
		    <p><strong>Phone : </strong>{{center.phone}}</p>
		    <p><strong>Website : </strong><a href="{{center.website}}">{{center.website}}</a></p>
  		</div>
  		
  		<div class="actions-wrapper">
    		
			<rating [(ngModel)]="center.averageRating" [readonly]="true"
        		[titles]="['one', 'two', 'three', 'four', 'five']">
			</rating>
			<span class="reviews-text"> {{reviewsList.length}} {{reviewsList.length !== 1 ? 'reviews' : 'review' }}</span>
			<button   routerLink="write-review"  class="review-button button-color" >Write a Review</button>
			<!--<button  routerLink="/my-account"  class="review-button button-color" *ngIf="!loggedIn">Login to write a Review</button>-->
		</div>
    		
  		
   	</div>
   
    <div class="component-details" *ngFor="let review of reviewsList">
      	<div class="details-header">
	    	<div class="details-header-title"></div>
	  	</div>
	  	
		 <div>
		    <p><strong>{{review.reviewer}}</strong></p>
		    <p>
		    	{{review.message}}
		    </p>
		    
  		</div>
  		
  		<div class="actions-wrapper">
			<rating [(ngModel)]="review.userRating" [readonly]="true"
        		[titles]="['one', 'two', 'three', 'four', 'five']">
			</rating>
			{{review.date | date:'fullDate'}}
		</div>
		
   	</div>
</div>
