<div class="add-new-school-content">
	<div [hidden]="schoolAdded">
		<h3 style="margin-top: 30px;">New School Information <span style="font-size:small">* is a required field</span></h3>

		<form (ngSubmit)="onSubmit()">
			<div class="form-group">
				<div >
					<input mdInput id="title"  class="form-control" [(ngModel)]="newSchool.title" 
					name="title" placeholder="Title" required="">
				</div>
			</div>
			
			<div class="form-group">
				
				<input mdInput id="subTitle" type="text" required [(ngModel)]="newSchool.subTitle" name="subTitle" placeholder="Sub Title">
			
				<input mdInput id="snippet" type="text" required [(ngModel)]="newSchool.snippet" name="snippet" placeholder="Snippet">
					
			</div>


			<div class="form-group">
				<textarea mdInput id="summary" [(ngModel)]="newSchool.summary" name="summary" placeholder="Summary" required></textarea>
			</div>

			<div class="form-group">
				
				<input mdInput id="address" type="text" required [(ngModel)]="newSchool.address" name="address" placeholder="Address">
					
			</div>

			<div class="form-group">
				<input mdInput id="phone" type="phone" [(ngModel)]="newSchool.phone" name="phone"  placeholder="Phone Number">
			</div>

			<div class="form-group">
			Image &nbsp;
			<input id="tile" type="file" id="schoolImage" name="schoolImage" (change)="uploadImageService.fileChangeEvent($event)">
			<br><br>

			</div>

			<div class="form-group">
				
				<button class="mat-primary" md-raised-button type="submit">Add School</button>
				
				<a class="mat-warn" md-raised-button routerLink="/">Cancel</a>
				
			</div>
		</form>
	</div>
	<div class="row" [hidden]="!schoolAdded"
	>
		<h3>School added successfully!</h3>
	</div>
</div>