  
  <!--<div class="row">
        <div class="col-xs-8">
            <h2 class="section-headline"><span>My Profile</span></h2>
        </div>
        <div class="col-xs-4">
            <img src="../../../assets/image/logo.png" class="img-responsive right" style="width:400px; z-index:1;" />
        </div>
        <img src="../../../assets/image/wood.png" class="img-responsive right" style="position: absolute; margin-top: 90px; z-index: -2;" />
    </div>
    <hr/>
    -->

<div *ngIf="!dataFetched" class="top-margin">
    <div class="reg-form-input-group">
        <div class="col-md-2 col-md-offset-5">
            <md-spinner></md-spinner>
        </div>
    </div>
</div>
<div class="container">
   <div class="reg-form-input-group top-margin">
       <!-- <div class="col-xs-3"></div>-->
        <div *ngIf="dataFetched">
            <div class="col-xs-9 col-md-offset-1">
                <div class="panel-group">
                    <div class="panel panel-default" >
                        <div class="panel-body" >
                            <div class="form-tab-body-wrapper">
                                <div class="form-header">
                                    <div class="edit-form-title">Edit</div>
                                </div>
                                <div class="form-tab-body">
                                    <div class="alerts">
                                        <div class="alert alert-danger" *ngIf="incorrectPassword">
                                            <strong>Incorrect Password!</strong> Please enter the correct password for the current user.
                                        </div>
                                        <div class="alert alert-success" *ngIf="updateSuccess">
                                            <strong>Update Success!</strong>
                                        </div>
                                    </div>
                                    <form (ngSubmit)="onUpdateUserInfo()">
                                        <input type="hidden" name="id" [(ngModel)]="user.id"/>
                                        <div class="bg-info" *ngIf="updateUserInfo">User info updated.</div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 col-xs-12">
                                                    <label for="firstName">First Name</label>
                                                    <input type="text" class="form-control" id="firstName" name="firstName" 
                                                    [(ngModel)]="user.firstName" />
                                                </div>
                                                <div class="col-sm-6 col-xs-12">
                                                    <label for="lastName">Last Name</label>
                                                    <input type="text" class="form-control" id="lastName" name="lastName" 
                                                    [(ngModel)]="user.lastName" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="username">
                                                Username *
                                            </label>&nbsp;<span *ngIf="usernameExists" class="error-entry-alert">Username already exists. Choose a different one.</span>
                                            <input required="required" type="text" class="form-control" id="username"
                                             name="username" [(ngModel)]="user.username" />
                                        </div>
                                        <div class="form-group">
                                            <label for="currentPassword">
                                                Current Password
                                            </label>
                                            <input type="password" class="form-control" id="password" 
                                            name="password" [(ngModel)]="currentPassword" />
                                            
                                        </div>

                                        <div class="form-group">
                                            <label for="email">
                                                Email Address *
                                            </label>&nbsp;<span *ngIf="emailExists" class="error-entry-alert">Email already exists. Choose a different one.</span>
                                            <input required="required" type="email" class="form-control" id="email" name="email" 
                                            [(ngModel)]="user.email" />
                                        </div>

                                        <div class="form-group">
                                            <label for="txtNewPassword">
                                                New Password *
                                            </label>&nbsp;
                                            <span id="checkPasswordMatch" class="error-entry-alert"></span>
                                            <input type="password" class="form-control" id="txtNewPassword" name="txtNewPassword" [(ngModel)]="newPassword"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtConfirmPassword">
                                                Confirm New Password *
                                            </label>
                                            <input type="password" class="form-control" id="txtConfirmPassword" name="txtNewPassword" 
                                            [(ngModel)]="confirmNewPassword"/>
                                        </div>
                                        <div class="form-group">
                                            <button  type="submit" class="button-color" id="udpateuserInfoButton">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>        
                    </div>
                 </div>
            </div>
        </div>                
    </div>
</div>         