
<!--<header>-->
 <!--Navbar-->
	<nav class="navbar navbar-toggleable navbar-dark primary-color btn-ptc fixed-top">
	    <div class="container">
	        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapseNav" aria-controls="collapseNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleState()">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	        <a class="navbar-brand" href="/">
	            <strong>EYAS</strong>
	        </a>
	        <div class=" navbar-collapse" id="collapseNav" [ngClass]="{ 'collapse': isIn }">
	            <ul class="navbar-nav mr-auto smooth-scroll">
	                <li class="nav-item active">
	                    <a class="nav-link" routerlink="/school-reviews"  href="/school-reviews" >School Reviews <span class="sr-only">(current)</span></a>
	                </li>
	                <!--<li class="nav-item">
	                    <a class="nav-link">Parenting</a>
	                </li>-->
	                
	            </ul>
	            <ul class="navbar-nav">

	               	<li  class="nav-right" *ngIf="loggedIn">
	                    <a class="nav-link" routerlink="/my-wishlist" href="/my-wishlist" >Wishlist</a>
	                </li>
	                <li  class="nav-right" *ngIf="loggedIn">
	                    <a class="nav-link" routerlink="/my-profile" href="/my-profile" >My Profile</a>
	                </li>

	                <li  class="nav-right" *ngIf="loggedIn">
	                    <a class="nav-link" (click)="logout()" >Logout</a>
	                </li>
	                <li class="nav-right" *ngIf="!loggedIn">
	                    <a class="nav-link" routerlink="/my-account" href="/my-account" >Login</a>
	                </li>
	            </ul>
	           
	        </div>
	    </div>
	</nav>
    <!--/.Navbar-->

<!--</header>-->
