<!--<nav  class="nav">
		
	<a  aria-label="Nursery Express"  md-button="" routerlink="/" href="/" aria-disabled="false" tabindex="0"
	class="navbar-brand">
	<span>	
		Eyas
	</span>
	</a>
	<a *ngIf="loggedIn" md-button aria-disabled="false"  (click)="logout()"
		 tabindex="0" class="nav-tem">
		<span >LOGOUT</span>
	</a>
	<a  *ngIf="loggedIn" md-button aria-disabled="false"
		routerlink="/my-profile" href="/my-profile" tabindex="0" class="nav-tem">
		<span>MY PROFILE</span>
	</a>
	
	<a  *ngIf="!loggedIn" md-button aria-disabled="false"
		routerlink="/my-account" href="/my-account" tabindex="0" class="nav-tem">
		<span >My Account</span>
	</a>
	<a  *ngIf="loggedIn" md-button aria-disabled="false"
		routerlink="/add-new-school" href="/add-new-school" tabindex="0" class="nav-tem">
		<span >Add New School</span>
	</a>
	
	<a  md-button aria-disabled="false" routerlink="/" href="/" tabindex="0" class="nav-tem">
		<span >Home</span>
	</a>
	
</nav>-->
<header>
 <!--Navbar-->
    <nav class="navbar navbar-toggleable-md navbar-dark bg-primary fixed-top">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapseEx2" aria-controls="collapseEx2" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <strong>EYAS</strong>
            </a>
            <div class="collapse navbar-collapse" id="collapseEx2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link">School Reviews <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Parenting</a>
                    </li>
                    
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-right" *ngIf="!loggedIn">
                        <a class="nav-link" routerlink="/my-account" href="/my-account" >Login</a>
                    </li>
                </ul>
               
            </div>
        </div>
    </nav>
    <!--/.Navbar-->
</header>
