<nav  class="nav">
		
	<a  aria-label="Nursery Express"  md-button="" routerlink="/" href="/" aria-disabled="false" tabindex="0"
	class="navbar-brand">
	<span>	
		Nursery Express
	</span>
	</a>
	<a *ngIf="loggedIn" md-button aria-disabled="false"  (click)="logout()"
		 tabindex="0" class="nav-tem">
		<span >LOGOUT</span>
	</a>
	<a  md-button="" aria-disabled="false" *ngIf="loggedIn"
		routerlink="/my-profile" href="/my-profile" tabindex="0" class="nav-tem">
		<span>MY PROFILE</span>
	</a>
	<!--<a  md-button="" aria-disabled="false" *ngIf="!loggedIn"
		routerlink="/my-profile" href="/my-profile" tabindex="0" class="nav-tem">
		<span >Sign up</span>
	</a>-->

	<a  md-button="" aria-disabled="false" *ngIf="!loggedIn"
		routerlink="/my-account" href="/my-account" tabindex="0" class="nav-tem">
		<span >My Account</span>
	</a>
	<a  md-button="" aria-disabled="false" routerlink="/" href="/" tabindex="0" class="nav-tem">
		<span >Home</span>
	</a>
	
</nav>
