/* You can add global styles to this file, and also import other style files */
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/mdbootstrap/css/bootstrap.min.css';
/*@import '../node_modules/mdbootstrap/css/mdb.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/
/*@import url(https://cdn.jsdelivr.net/mdbootstrap/4.3.2/mdb.min.css);*/
/*@import './morestyles.css';*/

html,
body,
.main-banner {
    height: 100%;
    flex-basis: 100%;
}
main {
  margin-top: 20px;
}
@media and screen(min-width: 360px){
  main {
    display: flex;
    flex-basis: 100%;
  }
}


.title-text {
  font-size: 1.425rem;
  line-height: 2.8rem;
  color: #2e3d49;
  margin-bottom: 0;
}

.main-banner {
    background: url("https://mdbootstrap.com/images/regular/city/img%20(1).jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
}

.primary-color {
  background-color: #405d75; 
}

/*.product-card .action-buttons {
    position: absolute;
    right: 5px;
    top: 5px;
}*/


/*span.rating {
    color: #ffa000;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 2;
}*/

/*.product-card .action-buttons .btn-floating .fa, .product-card .action-buttons .btn-floating .material-icons {
    font-size: 14px;
    margin-top: 1px;
}
.product-card .action-buttons .btn-floating {
    display: block;
    background-color: #4285F4;
    height: 37px;
    width: 37px;
    line-height: 0;
}*/