/* You can add global styles to this file, and also import other style files */
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/mdbootstrap/css/bootstrap.min.css';
@import '../node_modules/mdbootstrap/css/mdb.min.css';


html,
body,
.view {
    height: 100%;
}

.view {
    background: url("https://mdbootstrap.com/images/regular/city/img%20(1).jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

main {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.flex-center {
    color: #fff;
}

.btn-ptc {
  background-color: #45526E !important;
}

.btn-ptc:hover {
  background-color: #59698d !important;
}

.btn-ptc:focus {
  background-color: #59698d !important;
}


footer.page-footer {
    background-color: #1C2331;
}

.section-title {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/*body {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.87);
}*/
/*hr {
    border: none;
    height: 1px;
    color: #333; 
    background-color: #333;
}*/

/*.nav {
  box-shadow: 1px 4px 1px #888888;
}
.navbar-brand {
    font-size: 2.2rem !important;
    height: 0;
    font-style: italic;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-left: 4rem !important;
    color: #5c96b8!important;
}

.banner {
    color: #fff;
    background: #5c96b8;
    padding: 3.5rem;
    margin-top: 0.8rem;
}
.banner h1 {
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    font-weight: 800 !important;
    font-family: FontAwesome;
    text-align: center;
    font-size: 4.0rem;
    margin: 0;
    padding-bottom: 0.5rem;

}
.banner p {
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 300 !important;
    margin-bottom: 10px;
    font-style: italic;
}
.banner .material-icons {
  font-size: larger;
}
.nav-tem{
  float: right !important;
}

.app-content {
  padding: 20px;
}

.app-content md-card {
  margin: 20px;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
}

.app-content md-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}

.panel {
  border: none;
  background-color: #ededed;
}

.alerts {
  margin-top: 20px;
}
.error-entry-alert {
  color:red;
}


.entry-prompt-alert {
  color:#828282;
}

.reviews-text {
  color: #3c3eb9;
}

md-card a,a:hover{
  color: inherit;
  text-decoration: none;
}

.review-button {
  float: right;
}
*/