/* You can add global styles to this file, and also import other style files */
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/mdbootstrap/css/bootstrap.min.css';
/*@import '../node_modules/mdbootstrap/css/mdb.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/
/*@import url(https://cdn.jsdelivr.net/mdbootstrap/4.3.2/mdb.min.css);*/
/*@import './morestyles.css';*/

html,
body,
.main-banner {
    height: 100%;
}

.main-banner {
    background: url("https://mdbootstrap.com/images/regular/city/img%20(1).jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}