textarea{
    border: .7px solid #d3d3d3;
    border-radius: 3px;
    background-color: rgba(209, 209, 209, 0.4);
}

.cancel-button {
	background-color: #ca4848 !important; 
}

.panel {
    background-color: #fff;
}
.form {
    padding: 0;
}

.form-group {
    padding: 0 10px;
}
