<hr />
<div class="app-content">
	<div [hidden]="ratingAdded">
		<!--<h4 style="margin-top: 30px;">Write A Review <span style="font-size:small">* is a required field</span></h3>-->
		<h4 align="center">Write A Review</h4>
		<hr />
		<form (ngSubmit)="onSubmit()">
			<md-grid-list cols="8" rowHeight="60px">
				<md-grid-tile [colspan]="8" [rowspan]="1">
					
						<rating
            		[titles]="['one', 'two', 'three', 'four', 'five']">
    			</rating>
					
				</md-grid-tile>
			</md-grid-list>
			<md-grid-list cols="8" rowHeight="60px">
				<md-grid-tile [colspan]="8" [rowspan]="1">
					<md-input-container>
						<textarea id="message"  aria-label="message"
							[(ngModel)]="newRatingAndReview.message" name="message" placeholder="Review"></textarea> 
					</md-input-container>
				</md-grid-tile>
			</md-grid-list>
		</form>
	</div>
</div>
